# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\duma_\Desktop\AN2-facultate\sem2\TP\PT2021_30226_Duma_Bianca_Assignment_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
